/* ------------------------------------------------------------
	NUMBER OF COLUMNS: Adjust .sitemap-primary li to set the number
	of columns required in your site map. The default is 
	4 columns (25%). 5 columns would be 20%, 6 columns would 
	be 16.6%, etc. 
------------------------------------------------------------ */

.sitemap-primary li {
    width:25%;
}
.sitemap-primary li ul li {
    width:100% !important;
}

.sitemap-primary.col1 li { width:25.0%; }
.sitemap-primary.col2 li { width:25.0%; }
.sitemap-primary.col3 li { width:25.0%; }
.sitemap-primary.col4 li { width:25.0%; }
.sitemap-primary.col5 li { width:20.0%; }
.sitemap-primary.col6 li { width:16.6%; }
.sitemap-primary.col7 li { width:14.2%; }
.sitemap-primary.col8 li { width:12.5%; }
.sitemap-primary.col9 li { width:11.1%; }
.sitemap-primary.col10 li { width:10.0%; }

/* ------------------------------------------------------------
	General Styles
------------------------------------------------------------ */

.sitemap {
    margin: 68px 0 0 0;
    clear: both;
    width: 100%;
}
.sitemap a {
    text-decoration: none;
}
.sitemap ol, ul {
    list-style: none;
}

/* ------------------------------------------------------------
	Site Map Styles
------------------------------------------------------------ */

/* --------	Top Level --------- */

.sitemap-primary {
    margin: 0;
    float: left;
    width: 100%;
    padding-left: 0;
}
.sitemap-primary .sitemap-home {
    display: block;
    float: none;
    background: #E5E7EA url(images/l1-left.png) center bottom no-repeat;
    position: relative;
    z-index: 2;
    padding: 0 0 30px 0;
}
.sitemap-primary .sitemap-home .sitemap-node {
    background-color: #FF3636;}
.sitemap-primary .sitemap-home  a {
    height: 50px;
    line-height: 50px;
}
.sitemap-primary a {
    display: block;
    height: 34px;
    line-height:34px;
    overflow: hidden;
    color: #F5F7FB;
    height: 50px;     line-height: 50px;
}
.sitemap-primary li {
    float: left;
    background: url(images/l1-center.png) center top no-repeat;
    padding: 30px 0;
    margin-top: -30px;
}
.sitemap-primary li .sitemap-node {
    margin: 0 20px 0 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: black;
    background: rgb(30, 100, 255);
    border-radius: 4px;
}
.sitemap-primary li a:hover {
}
.sitemap-primary li:last-child {
    background: url(images/l1-right.png) center top no-repeat;
}
a:link:before,
a:visited:before {

}
.sitemap-primary li a:link:before,
.sitemap-primary li a:visited:before {

}
.sitemap-primary a.page-link {
    font-weight: normal;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    background: rgba(0, 0, 0, 0.1);
}
.sitemap-primary a.page-link:hover {
    text-decoration: underline;
}
/* --------	Second Level --------- */

.sitemap-primary li ul {
    padding-left: 0;
}
.sitemap-primary li li {
    width: 100%;
    clear: left;
    margin-top: 0;
    padding: 10px 0 0 0;
    background: url(images/vertical-line.png) center bottom repeat-y;
}
.sitemap-primary li li .sitemap-node {
    background-color: rgb(0, 196, 255);
}
.sitemap-primary li li:first-child {
    padding-top: 30px;
}
.sitemap-primary li li:last-child {
    background: url(images/vertical-line.png) center bottom repeat-y;
}
.sitemap-primary li li a:link:before,
.sitemap-primary li li a:visited:before {

}

/* --------	Third Level --------- */

.sitemap-primary li li ul {
    margin: 10px 0 0 0;
    width: 100%;
    float: right;
    padding: 9px 0 0 0;
    background: #E5E7EA url(images/l3-ul-top.png) center top no-repeat;
}
.sitemap-primary li li li {
    background: url(images/l3-center.png) left center no-repeat;
}
.sitemap-primary li li li .sitemap-node {
    background-color: rgb(49, 202, 146);
    font-size: 16px;
    /* padding: 5px 0; */
    width: 80%;
    float: right;
}
.sitemap-primary li li li a:hover {

}
.sitemap-primary li li li:first-child {
    padding: 15px 0 5px 0;
    background: url(images/l3-li-top.png) left center no-repeat;
}
.sitemap-primary li li li:last-child {
    background: url(images/l3-bottom.png) left center no-repeat;
}
.sitemap-primary li li li a:link:before,
.sitemap-primary li li li a:visited:before {
    color: #ccae14;
    font-size: 16px;
}


/* ------------------------------------------------------------
	Utility Navigation
------------------------------------------------------------ */

.sitemap-utility {
    float: right;
    max-width: 50%;
    margin-right: 10px;
}
.sitemap-utility li {
    float: left;
    margin-bottom: 10px;
}
.sitemap-utility li .sitemap-node {
    margin: 0 10px 0 0;
    padding: 5px 10px;
    display: block;
    border: 2px solid #e3ca4b;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.sitemap-utility li a:hover {
    background-color: #fffce5;
    border-color: #d1b62c;
}
.sitemap-utility li a:link:before,
.sitemap-utility li a:visited:before {
    color: #ccae14;
    font-size: 9px;
    margin-bottom: 3px;
}

.sitemap-node-title {
    margin: 0 36px;
}
/* Buttons */
.sitemap-primary .btn,
.sitemap-primary .btn {
    background-color: rgba(229, 231, 234, 0.28);
    /* border: 1px solid #004EA3; */
    color: #FFFFFF;
    border-radius: 4px;
    /* margin: 6px 6px 0 6px; */
    padding: 3px 6px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    width: 36px;
}

.sitemap-primary a.sitemap-edit:hover,
.sitemap-primary a.sitemap-publish:hover,
.sitemap-primary button:hover {
    color: #FFFFFF;
    background-color: rgba(229, 231, 234, 0.67);
}
.sitemap-add {
    display: none;
    float: right;
}
.sitemap-remove {
    display: none;
    float: left;
}
.addremove .sitemap-add {
    display: block;
}
.addremove .sitemap-remove {
    display: block;
}
.sitemap-back {
    display: none;
    float: left;
}
.sitemap-forward {
    display: none;
    float: right;
}
.order .sitemap-back {
    display: block;
}
.order .sitemap-forward {
    display: block;
}

.sitemap-edit {
    float: left;
}
.sitemap-publish {
    float: right;
}
.order .sitemap-edit,
.addremove .sitemap-edit,
.order .sitemap-publish,
.addremove .sitemap-publish {
    display: none;
}



/* choose left/right or down/up arrows */
.order-vertical {
    display: none;
}
.sitemap li li .order-horizontal {
    display: none;
}
.sitemap li li .order-vertical {
    display: block;
}
.sitemap .ghost {
    opacity: 0.5;
}