<!doctype html>
<html ng-app="adminApp">
<head>
    <title>Dashboard</title>
    <link href="/public/admin/support/bootstrap.min.css" rel="stylesheet">
    <link href="/public/admin/support/slickmap/slickmap.css" rel="stylesheet">
    <script src="/public/admin/support/angular-1.3.0-rc.1/angular.min.js"></script>
    <script src="/public/admin/support/angular-1.3.0-rc.1/angular-resource.min.js"></script>
    <script src="/public/admin/support/angular-1.3.0-rc.1/angular-route.min.js"></script>
    <script src="/public/admin/support/angular-1.3.0-rc.1/angular-animate.min.js"></script>

    <script src="/public/admin/js/app.js"></script>
    <script src="/public/admin/js/sitemap-controller.js"></script>
</head>
<body>

<header class="header">
    <h1>Dashboard</h1>
</header>

<section class="main container">
    <div ng-view></div>
</section>

<footer class="footer">

</footer>

</body>
</html>
