html,
body,
body > .container-fluid,
body > .container-fluid > .full-height,
header {
    height: 100%;
}
body {
    background: #f3f3f3;
}
header {
    background-color: #F1FF52;
}
header h1,
header .nav {
    text-align: right;
}

.action-buttons {
    height: 80px;
    padding-top: 1em;
    margin-top: 50px;
    border-top: 1px solid lightgrey;
}
.action-buttons button {
    float: right;
    margin-left: 15px;
}

.selected-template {
    border: 2px solid #afff00;
}

.btn:hover, .btn:focus {
    color: #D80000;
    text-decoration: none;
}