@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(/_static/dashboard/support/fonts/raleway-extralight.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(/_static/dashboard/support/fonts/raleway-normal.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html,
body {
    background: #E5E7EA;
}
h1,
.h1 {
    margin-bottom: 40px;
}
.dashboard-header  {
    position: relative;
    z-index: 1;
    background-color: #D7DADE;
    border-bottom: 4px solid #CBCBCB;
}
a {
    cursor: pointer;
}

/**
 * Layout
 */
header > div,
header > nav {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/**
 * Logo
 */
.holder {
    margin: auto;
    width: 800px;
}
.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    height: 60px;
    font-size: 25px;
    color: #cbcbcb;
    letter-spacing: 6px;
    background: linear-gradient(135deg, #FEFFFF 0%,#E0E0E0 37%,#FDFDFD 100%)
}
.logo span {
    cursor: default;
}
h4 {
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 0;
}
.p {
    color: #ff005a
}
.a {
    color: #00D6F3;
}
.g {
    color: #faa129;
}
.e {
    color: #29f38f;
}

/**
 * Main nav 
 */
.header-nav ul {
    padding: 0;
}
.header-nav a {
    font-family: Raleway, sans-serif;
    height: 60px;
    line-height: 60px;
    border: none;
    outline: none;
    padding: 0 16px !important;
    font-size: 16px;
    letter-spacing: 2px;
    color: #000;
    text-transform: uppercase;
}

.header-nav .active a {
    background: #F6F6F6 !important;
    color: #000 !important;
}
.header-nav .nav>li>a:hover,
.header-nav .nav>li>a:focus {
    text-decoration: none;
    background-color: #E5E8EC;
}


.main,
.aside {
    padding: 18px;
    font-size: 18px;
}

.side-nav {
    /* min-height: 200px; */
    /* padding-bottom: 110px; */
    padding: 18px;
    padding-bottom: 150px;
    background-image: linear-gradient(to bottom, #CBCBCB 0%, #E5E7EA 100%);
}
.side-nav li a {
    font-size: 18px;
}
.side-nav .active a {
    background: #f3f3f3 !important;
    color: #999 !important;
}
.side-nav dt {
    float: left;
    margin-right: 8px;
}
.header-page-options {
    padding: 7px 18px;
    margin: 11px 0 0 0 !important;
    background: rgba(255, 255, 255, 0.65);
}
.header-utils {
    padding-right: 22px !important;
    text-align: right;
}
.header-utils p {
    line-height: 60px;
    font-size: 18px;
    margin: 0;
}

.alert {
    position: absolute;
    top: 60px;
    right: 0;
    padding: 6px 12px 6px 12px;
    min-width: 350px;
    max-height: 300px;
    overflow: auto;
    transition: max-height linear 1s;
    border-radius: 0 0 0 6px;
}
.alert.ng-hide {
    display: block !important;
    max-height: 0;
    overflow: hidden;
    transition: max-height linear 1s
}
.alert .close {
    margin-left: 12px;
}

.section-heading {
    margin-bottom: 2em;
}
.section-heading h2,
.section-heading h3 {
    margin: 0;
}
.notification-bar {
    margin-bottom: 2em;
}

/**
 * Form styling
 */
/* form intro */
.form-intro {
    /* border-bottom: 1px solid lightgrey; */
    margin-bottom: 30px;
}

/* action buttons */
.action-buttons {
    min-height: 80px;
    padding-top: 1em;
    margin-top: 50px;
    box-shadow: 4px -18px 49px -27px #999;
}
.action-buttons button {
    float: right;
    margin-left: 15px;
}

/* Upload button */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn {
    border-radius: 4px;
}
.selected-template {
    border: 2px solid #afff00;
}
.form-horizontal .control-label {
    font-size: 18px;
    font-weight: normal;
    border: none;
}
.form-control {
    border-radius: 3px;
    /* box-shadow: 0px 0px 20px -5px #999; */
    font-size: 18px;
    border: none;
}
.well-sm {
    border-radius: 3px;
    background-color: #d3d3d3;
}
.well-sm label {
    display: block;
    cursor: pointer;
    font-weight: normal;
}

.sitemap-controls {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

/**
 * Media
 */
.media-file-select {
    height: 82px;
    outline: 1px dashed #3285E2;
    line-height: 82px;
    text-align: center;
    margin-bottom: 1em;
    cursor: pointer;
}
.media-item-dragging .media-file-select {
    outline-style: solid;
}
.media-item-dragging .media-file-select,
.media-file-select:hover {
    background: #D7DADE;
}
.media-file-select h3 {
    margin-bottom: 0;
}
.media-file-select button {
    font-size: 16px;
}
.media-file-select .drop-text {
    display: none;
}
.media-item-dragging .add-text {
    display: none;
}
.media-item-dragging .drop-text {
    display: inline;
}
.media-item-part {
    padding-top: 15px;
    padding-bottom: 15px;
}
.media-item-part h3 {
    margin-top: 0;
}
.media-item-preview {
    position: relative;
    float: left;
    width: 164px;
    outline: 1px solid #D7DADE;
    padding: 7px;
    text-align: center;
    margin-right: 15px;
}
.media-item-preview .item-type {
    position: absolute;
    top: 66px;
    color: #F3F3F3;
    font-weight: bold;
    font-size: 26px;
    left: 38px;
}
.media-item-view .label {
    margin-right: 8px;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
}
.media-item-edit {
    float: left;
    width: 630px;
}
.media-item-edit input {
    margin-bottom: 8px;
    background: #E5E7EA;
}
.media-item-edit .tags {
    border-width: 0;
    background: #E5E7EA;
}
.media-item-preview img {
    max-width: 150px;
    max-height: 130px;
}
.media-upload-form .action-buttons {
    border-bottom: 1px solid #D7DADE;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 2em;
}
.media-item-full img {
    margin-bottom: 20px;
    max-width: 100%;
}
.media-pdf {
    background: url(types/pdf.png) no-repeat center center;
}
.media-html {
    background: url(types/html.png) no-repeat center center;
}

.inpage-actions {
    display: none;
}
.inpage-actions .header-page-options {
    font-size: 16px;
    width: 50%;
    margin: 11px auto !important;
    text-align: center;
}
.inpage-actions .header-page-options.drag-over {
    background-color: rgba(255, 0, 0, 0.5);
    color: #fff;
}
.dragging-include .inpage-actions {
    display: block;
}
.dragging-include .header-nav {
    display: none;
}