.toolbar button,
.edit-actions button {
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    border: 0;
    background: none;
    cursor: pointer;
    background: #d3d3d3;
}
.toolbar .wysihtml5-command-active {
    background: #fff;
}
.toolbar .icon {
    width: 16px;
    height: 16px;
}
.wysihtml-editor {
    position: relative;
}
.wysihtml-editor .toolbar {
    display: none;
    padding: 40px 40px 0 40px;
    position: absolute;
    top: -72px;
    left: -40px;
}
.wysihtml-editor:hover .toolbar {
    display: block;
}
.wysihtml-editor .toolbar-buttons {
    background: #d3d3d3;
}
.wysihtml-editor .editor[contenteditable="true"]:active,
.wysihtml-editor .editor[contenteditable="true"]:focus{
    border:none;
    outline:none;
}
.wysihtml-editor .edit-actions {
    position: absolute;
    bottom: -34px;
    right: 0;
}
.wysihtml-editor .hidden {
    display: none;
}
.wysihtml-editor .editor {
    min-height: 1em;
}
.wysihtml-editor .source textarea{
    width: 100%;
    font-size: 12px;
    font-family: Consolas, "courier new", monospace;
}