
<div remove-include-drop class="well header-page-options">
    <span class="glyphicon glyphicon-trash"></span> Remove
</div>
<!--
<main class="main col-sm-12">
    <div class="notification-bar" ng-show="err">
        <p>An error occurred performing this operation: {{$scope.err.message}}</p>
    </div>

    <div style="text-align: center" ng-show="!removed">
        <h2>Really remove this include?</h2>

        <div style="margin-top: 2em">
            <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-danger" ng-click="remove()" ng-disabled="!page">Remove</button>
        </div>
    </div>
    <div style="text-align: center" ng-show="removed">
        <h2>It's done</h2>

        <div style="margin-top: 2em">
            <button type="button" class="btn" ng-click="close()">OK</button>
        </div>
    </div>
</main>
-->
