language: node_js

node_js:
  - "0.10"

services:
  - mongodb
addons:
  apt:
    sources:
    - mongodb-3.0-precise
    packages:
    - mongodb-org-server

before_script:
  - sleep 15
  - mongod --version
  - ./clean.sh
