/* edit */
.ps-box {
    position: relative;
    min-height: 24px;
    /*special outline color added by js */
}
.ps-box:hover {
    outline: 2px solid #cbcbcb;
    min-height: 24px;
}
.ps-box .ps-edit,
.ps-box .ps-remove,
.ps-box .ps-add {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border: none;
    width: 24px;
    height: 24px;
    color: #fff;
    background: #cbcbcb;
    cursor: pointer;
    z-index: 1000;
}
.ps-box:hover .ps-edit,
.ps-box:hover .ps-remove,
.ps-box:hover .ps-add {
    display: block;
}
.ps-box .ps-edit {
    right: 26px;
    /*special bg color added by js*/
}
.ps-box .ps-add {
    /*special bg color added by js*/
}
.ps-box .ps-remove {
    /*special bg color added by js*/
}
.ps-box.ps-box-add {
    min-height: 24px;
}
.ps-region:hover .ps-box-add {
    display: block;
    outline: 2px solid #d8d8d8;
}
.ps-region:hover .ps-box-add:hover {
    outline: 2px solid #cbcbcb;
    /*special outline color added by js*/
}

/* buttons */
.ps-btn {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background: #0048AB;
    padding: 10px;
    border: none;
}
.ps-include-editor {
    position: absolute;
    z-index: 100;
    transition: 300ms linear;
    background: #fff;
}
.ps-include-editor-titlebar {
    position: absolute;
    height: 30px;
    top: -30px;
    left: 0;
    right: 0;
    padding: 4px;
    background: #D7DADE;
    box-sizing: border-box;
    /*special bg color added by js*/
}
.ps-include-editor-titlebar p {
    margin: 0;
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial;
    color: #000;
    line-height: 26px;
}
.ps-include-editor-close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0);
}
.ps-include-editor-close:hover {
    background: rgba(255, 255, 255, 0.6);
}
.ps-include-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}