.adminbar {
    position: relative;
    height: 60px;
    padding: 10px;
    background-color: #F1FF52;
    font-family: Consolas, "courier new", monospace;
    font-size: 18px;
    line-height: 35px;
}
.adminbar,
.adminbar > * {
    box-sizing: border-box;
}
.adminbar .adminbar-links {
    float: left;
}
.adminbar .adminbar-actions {
    float: right;
}
.adminbar .adminbar-actions > div {
    float: right;
    margin-left: 20px;
}

.adminbar .switch-group {
    background: #d3d3d3;
}

.adminbar .switch {
    border-width: 0;
    box-sizing: border-box;
    padding: 10px;
    height: 35px;
    color: #fff;
    cursor: pointer;
    font-family: Consolas, "courier new", monospace;
    font-size: 18px;
    background: #d3d3d3;
}
.adminbar .switch.on {
    background: #00e5a3;
    cursor: default;
}

.ps-edit-box {
    outline: 2px solid #F1FF52;
}
.ps-btn {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background: #0048AB;
    padding: 10px;
    border: none;
}