<nav class="side-nav col-sm-2">

    <div class="section-heading">
        <h3>Media item</h3>
    </div>


    <h3>Details</h3>
    <dl>
        <dt>Url</dt>
        <dd><a href="/_media/{{item.fileName}}" target="_blank">/_media/{{item.fileName}}</a></dd>
        <dt>Type</dt>
        <dd>{{item.type}}</dd>
        <dt>Filesize</dt>
        <dd>{{humanFileSize(item.size)}}</dd>
    </dl>

    <button type="button" class="btn btn-danger" ng-click="deleteItem(item)">Delete</button>
</nav>
<main class="main col-sm-10">
    <div class="notification-bar"><p></p></div>

    <h2>{{item.name}}</h2>
    <p ng-show="item.description && item.description !== 'undefined'">{{item.description}}</p>
    <div ng-show="isImage(item)" class="media-item-full">
        <img ng-src="{{getSrcPath(item)}}" alt="{{item.name}}">
    </div>
    <div ng-show="isText(item)" class="media-item-full">

       <form role="form" ng-submit="updateItemText(itemTextForm)" name="itemTextForm" class="form-horizontal" novalidate >
            <textarea ui-codemirror ng-model="itemText"
                      ui-codemirror-opts="editorOpts"></textarea>

            <div class="action-buttons">
                <button type="submit" class="btn btn-primary">Update</button>
                <button ng-click="cancel()" type="button" class="btn btn-default">Cancel</button>
            </div>
        </form>
    </div>
    <div ng-show="isDocument(item)" class="media-item-full">
        <iframe ng-src="{{getSrcPath(item)}}" width="100%" height="500"></iframe>
    </div>
</main>
