<div class="row">
    <div class="col-sm-4">
        <dl>
            <dt>Created on</dt>
            <dd>{{page.createdAt | date:'MMM d, yyyy'}} at {{page.createdAt | date:'HH:mm'}}</dd>
            <dt>by</dt>
            <dd>{{page.createdBy.name}}</dd>
        </dl>
    </div>
    <div class="col-sm-4">
        <dl nf-show="page.updateAt">
            <dt>Last updated on</dt>
            <dd>{{page.updatedAt | date:'MMM d, yyyy'}} at {{page.updatedAt | date:'HH:mm'}}</dd>
            <dt>by</dt>
            <dd>{{page.updatedBy.name}}</dd>
        </dl>
    </div>
    <div class="col-sm-4">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{page.url}}?_preview=true" target="_blank">Go to page (preview) &raquo;</a></li>
            <li><a href="{{page.url}}?_preview=false" target="_blank">Go to page (live) &raquo;</a></li>
            <li><a href="/_api/pages/{{page._id}}" target="_blank">Go to json &raquo;</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">

        <h3>Regions</h3>

        <div class="form-group">
            <label class="col-sm-2 control-label">Select a region</label>
             <div class="col-sm-7" ng-show="page.regions.length">
                <select ng-model="selectedRegionIndex"
                        ng-options="page.regions.indexOf(region) as region.name for region in page.regions"
                        class="form-control">
                    <option value="" disabled>Select a region</option>
                </select>
            </div>
        </div>
        <div ng-repeat="region in page.regions track by $index">
            <div ng-show="selectedRegionIndex == $index">
                <div ng-repeat="include in region.includes track by $index">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Plugin</label>
                        <div class="col-sm-7">
                            <select ng-model="page.regions[$parent.$index].includes[$index].plugin"
                                    ng-change="setDefaultDataForInclude($parent.$index, $index)"
                                    ng-options="availablePlugin as availablePlugin.name for availablePlugin in availablePlugins track by availablePlugin._id"
                                    class="form-control">
                                <option value="" disabled selected>Select a plugin</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-danger" ng-click="removeInclude($parent.$index, $index)">
                                Delete include
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Global data</label>
                        <div class="col-sm-7">
                            <textarea ng-model="page.regions[$parent.$index].includes[$index].data"
                                      ui-codemirror
                                      ui-codemirror-opts="editorOpts"
                                      class="form-control"
                                      name="region_{{$parent.$index}}_data"
                                      placeholder="Edit raw include data (for advanced users)"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <button type="button" class="btn" ng-click="addInclude($index)">
                            <span class="glyphicon glyphicon-plus"></span> Add Include
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="action-buttons">
            <button type="submit" class="btn btn-primary" ng-disabled="template == null">Save</button>
            <button ng-click="cancel()" type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>
</div>