<!doctype html>
<html ng-app="adminApp">
<head>
    <title>Dashboard</title>
    <link href="/app/static/support/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/app/static/styles/slickmap/slickmap.css" rel="stylesheet">
    <script src="/bower_components/async/lib/async.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>

    <script src="/app/static/js/app.js"></script>
    <script src="/app/static/js/page-service.js"></script>
    <script src="/app/static/js/template-service.js"></script>
    <script src="/app/static/js/part-service.js"></script>
    <script src="/app/static/js/sitemap-controller.js"></script>
    <script src="/app/static/js/page-controller.js"></script>
    <script src="/app/static/js/template-list-controller.js"></script>
    <script src="/app/static/js/template-controller.js"></script>
    <script src="/app/static/js/part-list-controller.js"></script>
    <script src="/app/static/js/part-controller.js"></script>
    <script src="/app/static/js/part-instance-service.js"></script>
</head>
<body>

<header class="header clearfix">
    <h1 class="pull-left">Dashboard</h1>
    <ul class="nav nav-pills pull-right">
        <li><a href="#/">Sitemap</a></li>
        <li><a href="#/templates">Templates</a></li>
        <li><a href="#/parts">Page Parts</a></li>
    </ul>
</header>

<section class="main container clearfix">
    <div ng-view></div>
</section>

<footer class="footer">

</footer>

</body>
</html>
