<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <script src="/bower_components/headjs/dist/1.0.0/head.load.min.js"></script>
    {{> adminbar}}
</head>
<body>
    <h1>404 Not found</h1>
</body>
</html>