<nav class="side-nav col-sm-2">

    <div class="section-heading" ng-cloak>
        <h3 ng-show="!template._id">Create a template</h3>
        <h3 ng-show="template._id">Edit template</h3>
    </div>

    <div ng-show="template._id">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/_api/templates/{{template._id}}" target="_blank">View JSON</a></li>
        </ul>

        <button type="button" class="btn btn-danger" ng-click="remove(item)"
                style="margin: 15px 0 0 15px">Delete</button>
    </div>

</nav>
<main class="main col-sm-6">
    <form role="form" name="templateForm" class="form-horizontal" novalidate ng-submit="save(templateForm)">

        <div class="notification-bar">
            <h4 ng-show="!templateId">Create a new template</h4>
            <h4 ng-show="templateId">Update details for template: <b>{{template.name}}</b></h4>
            <p ng-show="submitted" class="text-danger">Some fields have not been filled in correctly.</p>
        </div>

        <div class="form-group" bs-has-error="name">
            <label class="col-sm-2 control-label">Template name</label>
            <div class="col-sm-7">
                <input type="text" class="form-control"  name="name" required  focus-if="!templateId"
                       ng-model="template.name" placeholder="Landing page">
            </div>
        </div>
        <div class="form-group" bs-has-error="src">
            <label class="col-sm-2 control-label">Source</label>
            <div class="col-sm-7">
                <select ng-model="template.src"
                        ng-options="template as template for template in templateSources"
                        class="form-control">
                    <option value="" disabled>Select a template</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Properties</label>
            <div class="col-sm-7">
                <div class="form-group" ng-repeat="prop in template.properties" style="margin-bottom: 10px">
                    <div class="col-xs-4">
                        <input type="text" class="form-control input-medium" ng-model="prop.name" placeholder="Name">
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control input-medium" ng-model="prop.value" Pre="Name">
                    </div>
                    <div class="col-xs-2">
                        <button type="button"  class="btn btn-link" ng-click="removeProperty(prop)">
                            <span class="glyphicon glyphicon-trash"></span> Remove property
                        </button>
                    </div>
                </div>
                <div>
                    <button type="button"  class="btn btn-link" ng-click="addProperty()">
                        <span class="glyphicon glyphicon-plus"></span> Add property
                    </button>
                </div>
            </div>
        </div>

        <div ng-show="template.regions && template.regions.length">

            <div class="form-group">
                <label class="col-sm-2 control-label">Include sharing</label>
                <div class="col-sm-7">
                    <div ng-repeat="region in template.regions track by $index">
                        <div class="row">
                            <label class="col-xs-3 control-label">{{region.name}}</label>
                            <div class="col-xs-9">
                                <select ng-model="region.sharing" class="form-control">
                                    <option ng-selected="region.sharing == ''" value="">No sharing</option>
                                    <option ng-selected="region.sharing == 'plugins'" value="plugins">Plugins</option>
                                    <option ng-selected="region.sharing == 'plugins data'" value="plugins data">Plugins with data</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label" style="text-align: left">
                    <button type="button" class="btn btn-link" ng-click="scanRegions()">
                        <span class="glyphicon glyphicon-refresh"></span> Rescan regions
                    </button>
                </label>
            </div>
        </div>

        <div class="action-buttons">
            <button type="submit" class="btn btn-primary">Save</button>
            <button ng-click="cancel()" type="button" class="btn btn-default">Cancel</button>
        </div>
    </form>
</main>