<nav class="side-nav col-sm-2">
    <div class="section-heading">
        <h3>Available templates</h3>
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li ng-class="menuClass('/templates/new')"><a href="#/templates/new">Create template</a></li>
    </ul>
</nav>
<main class="main col-sm-6">
    <div class="notification-bar">
        <h4 ng-show="templates.length == 0">There are no templates</h4>
    </div>
    <div class="list-group" ng-show="templates.length > 0">
        <a href="#/templates/{{template._id}}" ng-repeat="template in templates" class="list-group-item">
            <h4 class="list-group-item-heading">{{template.name}}</h4>
            <p class="list-group-item-text"><small>{{template.src}}</small></p>
        </a>
    </div>
</main>
