<main class="main">
    <div class="compare-panel" style="left: 0; border-right: 1px solid #E5E7EA;">
        <div class="section-heading">
            <button type="button" class="btn btn-xs btn-default pull-right"
                    ng-if="page && page.draft" ng-click="revertDraft()">Discard changes</button>
            <h3>Preview<span ng-if="page">: {{page.name}}</h3>
        </div>
        <div class="frame-holder" ng-class="{'scale-to-fit' : scalePreviewToFit}">
            <iframe ng-if="page" ng-src="{{getPageUrl(true)}}"></iframe>
        </div>
        <div class="footer-controls">
            <label><input type="checkbox" ng-init="scalePreviewToFit=true" ng-model="scalePreviewToFit"> Scale to fit</label>
        </div>
    </div>
    <div class="compare-panel" style="right: 0; border-left: 1px solid #e5e7ea">
        <div class="section-heading">
            <h3>Live</h3>

        </div>
        <div class="frame-holder" ng-class="{'scale-to-fit': scaleLiveToFit}">
            <iframe ng-if="page" ng-src="{{getPageUrl()}}"></iframe>
        </div>
        <div class="footer-controls">
            <label><input type="checkbox" ng-init="scaleLiveToFit=true" ng-model="scaleLiveToFit"> Scale to fit</label>
        </div>
    </div>
</main>
