<nav class="side-nav col-sm-2">
    <div class="section-heading">
        <h3>Publish pages</h3>
    </div>
</nav>
<main class="main col-sm-6">
    <form role="form" ng-submit="publish()">
        <div class="notification-bar">
            <h4 ng-show="drafts.length == 0">There are no pages to publish</h4>
            <h4 ng-show="drafts.length > 0">Select pages to publish:
                <button class="btn btn-sm pull-right" type=button ng-click="unqueueAll()"
                    style="margin-left: 5px">Unqueue all</button>
                <button class="btn btn-sm pull-right" type=button ng-click="queueAll()">Queue all</button>
            </h4>

        </div>
        <div class="pull-right clearfix">

        </div>
        <div class="list-group" ng-show="drafts.length > 0">
            <div ng-repeat="page in drafts"
                 class="list-group-item"
                 ng-class="{'list-group-item-success': page.queued && (getStatusLabel(page) == 'update' || getStatusLabel(page) == 'new'),
                            'list-group-item-danger': page.queued && getStatusLabel(page) == 'delete',
                            'list-group-item-warning': page.queued && getStatusLabel(page) == 'redirect'}">

                <div class="pull-right">
                    <div class="checkbox">
                        <label style="font-size: 16px">
                        <input type="checkbox"
                               ng-model="page.queued">
                            Queue<span class="not-mobile"> to publish</span></label>
                    </div>
                </div>

                <div class="pull-right" ng-show="page.published"
                     class="not-mobile" style="margin-right: 20px; margin-top: 10px">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-sm" ng-click="showCompare(page)"
                                title="Compare preview with live">
                            <span class="glyphicon glyphicon glyphicon-transfer"></span>
                        </button>
                    </div>
                </div>

                <h4 class="list-group-item-heading">{{page.name}}
                    <small><i><b>{{getStatusLabel(page)}}</b></i></small>
                </h4>
                <p class="list-group-item-text">
                    <small><a href="#/view-page/preview{{page.url}}">{{page.url}}</a></small>
                </p>
            </div>
        </div>

        <div class="action-buttons">
            <button type="submit" class="btn btn-primary" ng-disabled="numQueued() == 0">Publish</button>
            <button ng-click="cancel()" type="button" class="btn btn-default">Cancel</button>
        </div>
    </form>
</main>
