<nav class="side-nav col-sm-2">
    <div class="section-heading">
        <h3>Publish pages</h3>
    </div>
</nav>
<main class="main col-sm-6">
    <form role="form" ng-submit="publish()">
        <div class="notification-bar">
            <h4 ng-show="drafts.length == 0">There are no pages to publish</h4>
            <h4 ng-show="drafts.length > 0">Select pages to publish:</h4>
            <p ng-show="submitted" class="text-danger">Please select one or more pages to publish</p>
        </div>
        <div class="list-group" ng-show="drafts.length > 0">
            <div ng-repeat="page in drafts"
                 class="list-group-item"
                 ng-class="{'list-group-item-success': page.queued && (page.status == 200 || page.url == '/'), 'list-group-item-danger': page.queued && (page.status != 200 && page.url != '/')}">

                <div class="pull-right">
                    <div class="checkbox">
                        <label style="font-size: 16px">
                        <input type="checkbox"
                               ng-model="page.queued">
                            Queue<span class="not-mobile"> to publish</span></label>
                    </div>
                </div>

                <div class="pull-right" ng-show="page.published"
                     class="not-mobile" style="margin-right: 20px; margin-top: 10px">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-sm" ng-click="showCompare(page)"
                                title="Compare preview with live">
                            <span class="glyphicon glyphicon glyphicon-transfer"></span>
                        </button>
                    </div>
                </div>

                <h4 class="list-group-item-heading">{{page.name}}
                    <small ng-show="!page.published && page.status == 200"><i><b>new</b></i></small>
                    <small ng-show="page.published && page.status == 200"><i><b>update</b></i></small>
                    <small ng-show="page.status == 404 || page.status == 410 && page.url != '/'"><i><b>delete</b></i></small>
                    <small ng-show="page.status == 301 || page.status == 302"><i><b>redirect</b></i></small>
                </h4>
                <p class="list-group-item-text">
                    <small><a href="#/view-page/preview{{page.url}}">{{page.url}}</a></small>
                </p>
            </div>
        </div>

        <div class="action-buttons">
            <button type="submit" class="btn btn-primary">Publish</button>
            <button ng-click="cancel()" type="button" class="btn btn-default">Cancel</button>
        </div>
    </form>
</main>
