<!DOCTYPE html>
<html>
    <head>
        <title>{{site.name}} - {{page.name}}</title>
        <meta name="foo" value="{{template.foo}}">
        <script src="/_static/bower_components/headjs/dist/1.0.0/head.load.min.js"></script>
        {{> adminbar}}
    </head>
    <body>
        <p>I am a template A</p>

        {{#Sidebar}}
            {{> Sidebar}}
        {{/Sidebar}}

        {{#Main}}
            {{> Main}}
        {{/Main}}

        {{#C}}
            {{> C}}
        {{/C}}

        <script>
            {{{site.analytics}}}
        </script>
    </body>
</html>