<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta name="foo" value="{{foo}}">
        <script src="/bower_components/headjs/dist/1.0.0/head.load.min.js"></script>
        {{> adminbar}}
    </head>
    <body>
        <p>I am a template A</p>

        {{#Sidebar}}
            {{> Sidebar}}
        {{/Sidebar}}

        {{#Main}}
            {{> Main}}
        {{/Main}}

        {{#C}}
            {{> C}}
        {{/C}}
    </body>
</html>