/* edit */
.ps-box {
    position: relative;
    min-height: 24px;
    /*special outline color added by js */
}
.ps-box:hover {
    outline: 2px solid #cbcbcb;
    min-height: 24px;
}
.ps-box .ps-edit,
.ps-box .ps-grab,
.ps-box .ps-add {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border: none;
    width: 24px;
    height: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 100;
    background-color: #cbcbcb;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}
.ps-box:hover .ps-edit,
.ps-box:hover .ps-grab,
.ps-box:hover .ps-add {
    display: block;
}
.ps-box .ps-edit {
    right: 16px;
    /*special bg color added by js*/
    background-image: url(/_static/dashboard/support/icons/pencil41.png);
}
.ps-box .ps-add {
    /*special bg color added by js*/
    background-image: url(/_static/dashboard/support/icons/1443751631_icon-plus-round.png);
}
.ps-box .ps-grab {
    /*special bg color added by js*/
    background-image: url(/_static/dashboard/support/icons/dots.png);
    width: 16px;
    cursor: url(img/openhand.cur) 8 8, move;
}
.ps-box.ps-box-add {
    min-height: 24px;
}
.ps-region:hover .ps-box-add {
    display: block;
    outline: 2px solid #d8d8d8;
}
.ps-region:hover .ps-box-add:hover {
    outline: 2px solid #cbcbcb;
    /*special outline color added by js*/
}

/* buttons */
.ps-btn {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background: #0048AB;
    padding: 10px;
    border: none;
}
.ps-include-editor {
    position: absolute;
    z-index: 100;
    transition: 150ms linear;
    background: #fff;
}
.ps-include-editor-titlebar {
    position: absolute;
    height: 30px;
    top: -30px;
    left: 0;
    right: 0;
    padding: 4px;
    background: #D7DADE;
    box-sizing: border-box;
    /*special bg color added by js*/
}
.ps-include-editor-titlebar p {
    margin: 0;
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial;
    color: #000;
    line-height: 26px;
}
.ps-include-editor-close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0);
}
.ps-include-editor-close:hover {
    background: rgba(255, 255, 255, 0.6);
}
.ps-include-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
}

.ps-box.ps-no-drop.ps-drag-over {
    background: transparent;
}
.ps-drop-overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0.5;
    outline: 2px solid #cbcbcb;
    background: url(/_static/dashboard/support/icons/1445551402_ic_swap_vert_circle_48px.png) no-repeat center center;
    background-color: #e8e8e8;
}
.ps-drag-over .ps-drop-overlay {
    /*special bg color added by js */
}
.ps-dragging-include .ps-drop-overlay {
    display: block;
}
.ps-dragging-include .ps-no-drop .ps-drop-overlay {
    display: none;
}