<script type="text/ng-template"  id="page-item">
    <div class="sitemap-node clearfix" ng-class="{ghost: page.status > 300}">
        <button class="btn btn-sm sitemap-remove" ng-show="page.children.length == 0" ng-click="removePage(page)" title="Remove page">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button class="btn btn-sm sitemap-add" ng-click="addPage(page)" title="Add sub page">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button class="btn btn-sm sitemap-back" ng-click="moveBack(page)" title="Move back" ng-hide="$first">
            <span class="glyphicon glyphicon-chevron-left order-horizontal"></span>
            <span class="glyphicon glyphicon-chevron-up order-vertical"></span>
        </button>
        <button class="btn btn-sm sitemap-forward" ng-click="moveForward(page)" title="Move forward" ng-hide="$last">
            <span class="glyphicon glyphicon-chevron-right order-horizontal"></span>
            <span class="glyphicon glyphicon-chevron-down order-vertical"></span>
        </button>

        <a href="#/pages/{{page._id}}" ng-if="!page.redirect" title="Edit {{page.name}}">
            <span ng-show="page.draft"><b>*</b></span>{{page.name}}
        </a>
        <a href="#/pages/{{page._id}}" ng-if="page.redirect" title="Edit {{page.name}} &gt; {{page.redirect.name}}">
            {{page.name}} &gt; {{page.redirect.name}}
        </a>
        <a ng-href="{{page.url}}" class="page-link" target="_blank" title="Go to {{page.name}}">{{page.url}}</a>

    </div>
    <ul ng-if="page.children.length">
        <li ng-repeat="page in page.children" ng-include="'page-item'"></li>
    </ul>
</script>
<div class="col-sm-10">
    <ul class="nav nav-pills">
        <li role="presentation" ng-class="{ active: viewMode == 'view'}"><a ng-click="setViewMode('view')">View pages</a></li>
        <li role="presentation" ng-class="{ active: viewMode == 'addremove'}"><a ng-click="setViewMode('addremove')">Add and remove</a></li>
        <li role="presentation" ng-class="{ active: viewMode == 'order'}"><a ng-click="setViewMode('order')">Re-order</a></li>
    </ul>

    <div class="sitemap" ng-class="viewMode">
        <ul class="sitemap-primary col{{pages.length}}">
            <li class="sitemap-home">
                <div class="sitemap-node clearfix">
                    <button class="btn btn-sm sitemap-add" ng-click="addPage()" title="Add page">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <a href="#/site">{{site.name}}</a>
                </div>
            </li>
            <li ng-repeat="page in pages" ng-include="'page-item'"></li>
        </ul>
    </div>
</div>