<script type="text/ng-template"  id="page-item">
    <div class="sitemap-node clearfix" ng-class="{ghost: page.status > 300}">
        <button class="btn btn-sm sitemap-remove" ng-show="page.children.length == 0" ng-click="removePage(page)" title="Remove page">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button class="btn btn-sm sitemap-add" ng-click="addPage(page)" title="Add sub page">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button class="btn btn-sm sitemap-back" ng-click="moveBack(page)" title="Move back" ng-hide="$first">
            <span class="glyphicon glyphicon-chevron-left order-horizontal"></span>
            <span class="glyphicon glyphicon-chevron-up order-vertical"></span>
        </button>
        <button class="btn btn-sm sitemap-forward" ng-click="moveForward(page)" title="Move forward" ng-hide="$last">
            <span class="glyphicon glyphicon-chevron-right order-horizontal"></span>
            <span class="glyphicon glyphicon-chevron-down order-vertical"></span>
        </button>

        <a class="btn btn-sm sitemap-edit" href="#/pages/basic/{{page._id}}" title="Edit page">
            <span class="glyphicon glyphicon-cog"></span>
        </a>

        <a class="btn btn-sm sitemap-publish" href="#/publishing/{{page._id}}" title="Publish" ng-show="page.draft">
            <span class="glyphicon glyphicon-play"></span>
        </a>

        <a ng-if="!page.redirect" href="#/view-page/preview{{page.url}}" class="sitemap-node-title" title="Go to {{page.name}}">{{page.name}}</a>

        <a ng-if="page.redirect" href="#/view-page/preview{{page.url}}" class="sitemap-node-title" title="Go to {{page.name}} &gt; {{page.redirect.name}}">
            {{page.name}} &gt; {{page.redirect.name}}</span>
        </a>
    </div>
    <ul ng-if="page.children.length">
        <li ng-repeat="page in page.children" ng-include="'page-item'"></li>
    </ul>
</script>
<nav class="side-nav col-sm-2">
    <div class="section-heading">
        <h3>Sitemap</h3>
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li ng-class="{ active: viewMode == 'view'}"><a ng-click="setViewMode('view')">View and edit</a></li>
        <li ng-class="{ active: viewMode == 'addremove'}"><a ng-click="setViewMode('addremove')">Add and remove</a></li>
        <li ng-class="{ active: viewMode == 'order'}"><a ng-click="setViewMode('order')">Re-order</a></li>
    </ul>
</nav>
<main class="main col-sm-10">

    <div class="notification-bar">
        <h4>Manage pages.</h4>
    </div>

    <div class="sitemap" ng-class="viewMode">
        <ul class="sitemap-primary col{{pages.length}}">
            <li class="sitemap-home">
                <div class="sitemap-node clearfix">
                    <button class="btn btn-sm sitemap-add" ng-click="addPage()" title="Add page">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <a href="#/pages/site">{{site.name}}</a>
                </div>
            </li>
            <li ng-repeat="page in pages" ng-include="'page-item'"></li>
        </ul>
    </div>
</main>