<h2>Page</h2>
<p><a href="{{page.url}}" class="pull-right clearfix" target="_blank">Go to page &raquo;</a></p>
<form role="form" ng-submit="save()">
    <div class="form-group">
        <input type="text" class="form-control input-lg" ng-model="page.name" placeholder="Page Title">
    </div>
    <div class="form-group">
        <label>Address</label>
        <div class="input-group">
            <input type="text" class="form-control input-sm" ng-model="page.url" placeholder="Address">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary btn-sm" title="Regenerate Url" ng-click="updateUrl()">
                    <span class="glyphicon glyphicon-repeat"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label>Template</label>
        <select ng-model="selectedTemplate" ng-options="template.name for template in templates track by template._id"
                class="form-control">
            <option value="" disabled selected>Select a template</option>
        </select>
    </div>
    <h3>Regions and Parts</h3>

    <div ng-repeat="region in page.regions">
        <div class="form-group">
            <label>Region</label>
            <select ng-model="region.region" ng-options="r as r for r in selectedTemplate.regions" class="form-control">
                <option value="" disabled selected>Select an available region</option>
            </select>
        </div>
        <div class="form-group">
            <label>Part type</label>
            <select ng-model="region.partInstance.part" ng-options="part._id as part.name for part in parts" class="form-control">
                <option value="" disabled selected>Select a part type</option>
            </select>
        </div>
        <div class="form-group">
            <label>Part instance data</label>
            <textarea ng-model="region.partInstance.data" class="form-control input-sm"></textarea>
        </div>
        <button ng-click="clearRegion(region)" type="button" class="btn pull-right">Remove region</button>
    </div>
    <div class="clearfix">
        <button ng-click="addRegion()" type="button" class="btn pull-left">Add region</button>
    </div>

    <button type="submit" class="btn btn-primary pull-right">Save</button>
    <button ng-click="cancel()" type="button" class="btn pull-right">Cancel</button>
</form>