<div class="row">
    <div class="col-sm-9">
        <form role="form" ng-submit="save()">
            <div class="form-group">
                <input type="text" class="form-control input-lg" ng-model="part.name" placeholder="Part Name">
            </div>
            <div class="form-group">
                <label>Module</label>
                <input type="text" class="form-control input-medium" ng-model="part.module" placeholder="Module">
            </div>

            <div class="action-buttons">
                <button ng-click="cancel()" type="button" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>