<script type="text/ng-template"  id="page-item">


    <button class="btn btn-sm pull-left" ng-show="page.children.length == 0" ng-click="removePage(page)" title="Remove page">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button class="btn btn-sm pull-right" ng-click="addPage(page)" title="Add page">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <a href="#/pages/{{page._id}}">{{page.name}}</a>
    <ul>
        <li ng-repeat="page in page.children" ng-include="'page-item'"></li>
    </ul>
</script>

<div class="sitemap">
    <ul id="primaryNav">
        <li id="home">
            <button class="btn pull-right btn-sm" ng-click="addPage()" title="Add page">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <a href="#">My site</a>
        <li ng-repeat="page in pages" ng-include="'page-item'"></li>
    </ul>
</div>
