<div class="row">
    <div class="col-sm-6">
        <form role="form" ng-submit="publish()">

            <div class="list-group" ng-show="drafts.length == 0">
                <p>There is nothing to publish</p>
            </div>
            <div class="list-group" ng-show="drafts.length > 0">
                <div ng-repeat="page in drafts" class="list-group-item">
                    <div class="pull-right">
                        <label for="toggle-{{page._id}}">Queue to publish</label>
                        <input id="toggle-{{page._id}}" type="checkbox" ng-model="page.queued">
                    </div>

                    <h4 class="list-group-item-heading">{{page.name}}</h4>
                    <p class="list-group-item-text"><small>{{page.url}}</small></p>
                </div>
            </div>

            <div class="action-buttons">
                <button type="submit" class="btn btn-primary">Publish</button>
                <button ng-click="cancel()" type="button" class="btn btn-default">Cancel</button>
            </div>
        </form>
    </div>
</div>