<nav class="side-nav col-sm-2">

    <div class="section-heading" ng-cloak>
        <h3 ng-show="!template._id">Create a template</h3>
        <h3 ng-show="template._id">Edit template</h3>
    </div>

    <div ng-show="template._id">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/_api/templates/{{template._id}}" target="_blank">Go to json &raquo;</a></li>
        </ul>

        <button type="button" class="btn btn-danger" ng-click="remove(item)"
                style="margin: 15px 0 0 15px">Delete</button>
    </div>

</nav>
<main class="main col-sm-6">
    <form role="form" name="templateForm" class="form-horizontal" novalidate ng-submit="save(templateForm)">

        <div class="notification-bar">
            <p ng-show="!templateId">Create a new template</p>
            <p ng-show="templateId">Update details for template: <b>{{template.name}}</b></p>
            <p ng-show="submitted" class="text-danger">Some fields have not been filled in correctly.</p>
        </div>

        <div class="form-group" bs-has-error="name">
            <label class="col-sm-2 control-label">Template name</label>
            <div class="col-sm-7">
                <input type="text" class="form-control"  name="name" required
                       ng-model="template.name" placeholder="Landing page">
            </div>
        </div>
        <div class="form-group" bs-has-error="src">
            <label class="col-sm-2 control-label">Source</label>
            <div class="col-sm-7">
                <select ng-model="template.src"
                        ng-options="template as template for template in templateSources"
                        class="form-control">
                    <option value="" disabled>Select a template</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Properties</label>
            <div class="col-sm-7">
                <div class="form-group" ng-repeat="prop in template.properties" style="margin-bottom: 10px">
                    <div class="col-xs-4">
                        <input type="text" class="form-control input-medium" ng-model="prop.name" placeholder="Name">
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control input-medium" ng-model="prop.value" Pre="Name">
                    </div>
                    <div class="col-xs-2">
                        <button type="button"  class="btn" ng-click="removeProperty(prop)">
                            <span class="glyphicon glyphicon-remove"></span> Remove property
                        </button>
                    </div>
                </div>
                <div>
                    <button type="button"  class="btn" ng-click="addProperty()">
                        <span class="glyphicon glyphicon-plus"></span> Add property
                    </button>
                </div>
            </div>
        </div>

        <div ng-show="template && template.src">
            <h3>Preview</h3>
            <img ng-src="{{getTemplatePreviewUrl()}}" alt="Template preview" style="max-width: 66%">
        </div>

        <div ng-show="template.regions && template.regions.length">

            <div class="row" style="margin-top: 2em">
                <div class="col-sm-9">
                    <h3>Regions and includes</h3>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" ng-click="scanRegions()">
                        <span class="glyphicon glyphicon-refresh"></span> Rescan
                    </button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-9">
                    <select ng-model="selectedRegionIndex"
                            ng-options="template.regions.indexOf(region) as region.name for region in template.regions"
                            class="form-control" data-ng-attr-size="{{template.regions.length}}">
                    </select>
                </div>
            </div>

            <div ng-repeat="region in template.regions track by $index">
                <div ng-show="selectedRegionIndex == $index">
                    <div ng-repeat="include in region.includes track by $index">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Plugin</label>
                            <div class="col-sm-7">
                                <select ng-model="template.regions[$parent.$index].includes[$index].plugin"
                                        ng-change="setDefaultDataForInclude($parent.$index, $index)"
                                        ng-options="availablePlugin as availablePlugin.description for availablePlugin in availablePlugins track by availablePlugin._id"
                                        class="form-control">
                                    <option value="" disabled selected>Select a plugin</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-danger" ng-click="removeInclude($parent.$index, $index)">
                                    <span class="glyphicon glyphicon-remove"></span> Delete include
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Global data</label>
                            <div class="col-sm-7">
                                <textarea ng-model="template.regions[$parent.$index].includes[$index].data"
                                          ui-codemirror
                                          ui-codemirror-opts="editorOpts"
                                          class="form-control"
                                          name="region_{{$parent.$index}}_data"
                                          placeholder="Edit raw include data (for advanced users)"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9"></div>
                        <div class="col-sm-3">
                            <button type="button" class="btn" ng-click="addInclude($index)">
                                <span class="glyphicon glyphicon-plus"></span> Add Include
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="action-buttons">
            <button type="submit" class="btn btn-primary">Save</button>
            <button ng-click="cancel()" type="button" class="btn btn-default">Cancel</button>
        </div>
    </form>
</main>