<!DOCTYPE html>
<html ng-app="adminApp">
<head>
    <title>Login</title>
    <link href="/_static/dashboard/support/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/_static/dashboard/styles/styles.css" rel="stylesheet">

    <script src="/_static/bower_components/angular/angular.min.js"></script>
    <script src="/_static/bower_components/angular-resource/angular-resource.min.js"></script>

    <script src="/_static/dashboard/login/login-controller.js"></script>
</head>
<body ng-controller="loginController">


<div class="container-fluid">
    <div class="row full-height">
        <header class="col-sm-2">
            <h1>Pagespace</h1>
        </header>
        <div class="col-sm-4">
            <h2 class="h1">Login</h2>

            {{#if badCredentials}}
                <div class="alert alert-warning" role="alert">
                    <p>Your username or password was incorrect</p>
                </div>
            {{/if}}

            <form role="form" ng-submit="submit()" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="username" placeholder="geoffcapes" ng-model="username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-7">
                        <div class="well-sm">
                            <label>
                                <input type="checkbox" ng-model="remember_me"> Don't forget me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="action-buttons">

                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
