@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(/_static/dashboard/support/fonts/raleway-extralight.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(/_static/dashboard/support/fonts/raleway-normal.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html,
body {
    background: #E5E7EA;
}
h1,
.h1 {
    margin-bottom: 40px;
}
header {
    position: relative;
    z-index: 1;
    background-color: #CBCBCB;
}
header h1,
header .nav {
    text-align: right;
}
a {
    cursor: pointer;
}

/**
 * Layout
 */
header > div,
header > nav {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/**
 * Logo
 */
.holder {
    margin: auto;
    width: 800px;
}
.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    height: 60px;
    font-size: 36px;
    color: #cbcbcb;
    letter-spacing: 6px;
    /*background: linear-gradient(135deg, rgba(254,255,255,1) 0%,rgba(242,242,242,1) 100%); */
    background: linear-gradient(135deg, rgba(254,255,255,1) 0%,rgba(229, 229, 229, 1) 37%,rgba(253, 253, 253, 1) 100%);
}
.logo span {
    cursor: default;
}
.p {
    color: #ff005a
}
.a {
    color: #00D6F3;
}
.g {
    color: #faa129;
}
.e {
    color: #29f38f;
}

/**
 * Main nav 
 */
.header-nav ul {
    padding: 0;
}
.header-nav a {
    height: 60px;
    line-height: 60px;
    border: none;
    outline: none;
    padding: 0 20px !important;
    font-size: 22px;
    color: #000;
}

.header-nav .active a {
    background: #f3f3f3 !important;
    color: #000 !important;
}

.main {
    padding: 18px;
    font-size: 18px;
}

.side-nav {
    /* min-height: 200px; */
    /* padding-bottom: 110px; */
    padding: 18px;
    padding-bottom: 150px;
    background-image: linear-gradient(to bottom, #CBCBCB 0%, #E5E7EA 100%);
}
.side-nav a {
    font-size: 18px;
}
.side-nav .active a {
    background: #f3f3f3 !important;
    color: #999 !important;
}
.header-page-options {
    padding: 7px 18px;
    margin: 11px 0 0 0 !important;
    background: rgba(255, 255, 255, 0.65);
}
.header-utils {
    padding-right: 22px !important;
    text-align: right;
}
.header-utils p {
    line-height: 50px;
    font-size: 18px;
    margin: 0;
}

.alert {
    position: absolute;
    top: 60px;
    right: 0;
    padding: 6px 12px 6px 12px;
    min-width: 350px;
    max-height: 300px;
    overflow: auto;
    transition: max-height linear 1s;
    border-radius: 0 0 0 6px;
}
.alert.ng-hide {
    display: block !important;
    max-height: 0;
    overflow: hidden;
    transition: max-height linear 1s
}
.alert .close {
    margin-left: 12px;
}

.section-heading {
    margin-bottom: 1em;
}
.section-heading h2,
.section-heading h3 {
    margin: 0;
}
.notification-bar {
    margin-bottom: 1em;
}

/**
 * Form styling
 */
/* form intro */
.form-intro {
    /* border-bottom: 1px solid lightgrey; */
    margin-bottom: 30px;
}

/* action buttons */
.action-buttons {
    min-height: 80px;
    padding-top: 1em;
    margin-top: 50px;
    box-shadow: 4px -18px 49px -27px #999;
}
.action-buttons button {
    float: right;
    margin-left: 15px;
}

/* Upload button */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn {
    border-radius: 4px;
}
.selected-template {
    border: 2px solid #afff00;
}
.form-horizontal .control-label {
    font-size: 18px;
    font-weight: normal;
    border: none;
}
.form-control {
    border-radius: 3px;
    /* box-shadow: 0px 0px 20px -5px #999; */
    font-size: 18px;
    border: none;
}
.well-sm {
    border-radius: 3px;
    background-color: #d3d3d3;
}
.well-sm label {
    display: block;
    cursor: pointer;
    font-weight: normal;
}

.sitemap-controls {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

/**
 * Media
 */
.media-item {
    float: left;
    border: 1px solid #cccccc;
    padding: 15px;
    margin-right: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    width: 240px;
    overflow: hidden;

}
.media-item h3 {
    margin-top: 0;
    height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
}
.media-item p {
    white-space: nowrap;
}
.media-item-wrap {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 1em;
}
.media-item-wrap img {
    max-width: 100%;
    max-height: 100%;
}
.media-item-full img {
    margin-bottom: 20px;
    max-width: 100%;
}
.media-pdf {
    background: url(types/pdf.png) no-repeat center center;
}
.media-html {
    background: url(types/html.png) no-repeat center center;
}