html,
body,
body > .container-fluid,
body > .container-fluid > .full-height,
header {
    height: 100%;
}
body {
    background: #f3f3f3;
}
h1,
.h1 {
    margin-bottom: 40px;
}
header {
    background-color: #CBCBCB;
}
header h1,
header .nav {
    text-align: right;
}

header ul.nav li {
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid #f3f3f3;
    margin-bottom: 4px;
    background-color: rgba(255,255,255, 0.7);
}

/**
 * Form styling
 */
/* form intro */
.form-intro {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 30px;
}

/* action buttons */
.action-buttons {
    height: 80px;
    padding-top: 1em;
    margin-top: 50px;
    border-top: 1px solid lightgrey;
}
.action-buttons button {
    float: right;
    margin-left: 15px;
}

/* Upload button */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn:hover, .btn:focus {
    color: #D80000;
    text-decoration: none;
}
.selected-template {
    border: 2px solid #afff00;
}

.form-control {
    border-radius: 3px;
}
.well-sm {
    border-radius: 3px;
    background-color: #d3d3d3;
}
.well-sm label {
    display: block;
    cursor: pointer;
    font-weight: normal;
}

/**
 * Media
 */
.media-item {
    float: left;
    border: 1px solid #cccccc;
    padding: 20px;
    margin-right: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    width: 240px;

}
.media-item h3 {
    margin-top: 0;
    height: 1.2em;
    overflow: hidden;
}
.media-item-wrap {
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.media-item-wrap img {
    max-width: 100%;
    max-height: 100%;
}
.media-item-full img {
    margin-bottom: 20px;
    max-width: 100%;
}
.media-pdf {
    background: url(types/pdf.png) no-repeat center center;
}
.media-html {
    background: url(types/html.png) no-repeat center center;
}

/* Colors */
span[data-color] {
    float: left;
    width: 20%;
    height: 30px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #f3f3f3;
}
span[data-color="#cbcbcb"] {
    background-color: #cbcbcb;
}
span[data-color="#ff005a"] {
    background-color: #ff005a;
}
span[data-color="#00D6F3"] {
    background-color: #00D6F3;
}
span[data-color="#faa129"] {
    background-color: #faa129;
}
span[data-color="#29f38f"] {
    background-color: #29f38f;
}