<form role="form" ng-submit="save()">
    <div class="form-group">
        <input type="text" class="form-control input-lg" ng-model="template.name" placeholder="Template Name">
    </div>
    <div class="form-group">
        <label>Src</label>
        <input type="text" class="form-control input-medium" ng-model="template.src" placeholder="Template src">
    </div>
    <div class="form-group">
        <h4>Regions</h4>
        <div ng-repeat="region in template.regions track by $index">
            <input type="text" class="form-control input-medium" ng-model="region" placeholder="Region name">
            <button type="button" class="btn" ng-click="removeRegion(region)">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </div>
        <button type="button" class="btn" ng-click="addRegion()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>

    <button type="submit" class="btn btn-primary pull-right">Save</button>
    <button ng-click="cancel()" type="button" class="btn pull-right">Cancel</button>
</form>