html,
body,
body > .container-fluid,
body > .container-fluid > .full-height,
header {
    height: 100%;
}
body {
    background: #f3f3f3;
}
header {
    background-color: #F1FF52;
}
header h1,
header .nav {
    text-align: right;
}

.action-buttons {
    height: 80px;
    padding-top: 1em;
    margin-top: 50px;
    border-top: 1px solid lightgrey;
}
.action-buttons button {
    float: right;
    margin-left: 15px;
}

.selected-template {
    border: 2px solid #afff00;
}

.btn:hover, .btn:focus {
    color: #D80000;
    text-decoration: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.media-item {
    float: left;
    border: 1px solid #cccccc;
    padding: 20px;
    margin-right: 40px;
    margin-bottom: 40px;
    cursor: pointer;

}
.media-item h3 {
    margin-top: 0;
}
.media-item-wrap {
    width: 200px;
    height: 200px;
}
.media-item-wrap img {
    max-width: 100%;
    max-height: 100%;
}
.media-item-full img {
    margin-bottom: 20px;
    max-width: 100%;
}