<nav class="side-nav col-sm-2">

    <div class="section-heading">
        <h3>Media item</h3>
    </div>


    <h4>Details</h4>

    <dl>
        <dt>Src:</dt>
        <dd><br><a href="/_media/{{item.fileName}}" target="_blank">/_media/{{item.fileName}}</a></dd>
        <dt>Type:</dt>
        <dd>{{item.type}}</dd>
        <dt>Filesize:</dt>
        <dd>{{humanFileSize(item.size)}}</dd>
        <dt ng-show="isImage(item)">Dimensions:</dt>
        <dd ng-show="isImage(item)">{{item.width}} &times; {{item.height}}</dd>
    </dl>

    <ul class="nav nav-pills nav-stacked">
        <li><a ng-href="{{'#/view-json/media/' + item._id}}">View JSON</a></li>
    </ul>

    <div ng-show="item.variations.length">
        <h4>Variations</h4>
        <div ng-repeat="variation in item.variations">
            <dl>
                <dt>Label:</dt>
                <dd><a href="{{getSrcPath(item, variation.label)}}" target="_blank">{{variation.label}}</a></dd>
                <dt>Filesize:</dt>
                <dd>{{humanFileSize(variation.size)}}</dd>
                <dt ng-show="isImage(item)">Dimensions:</dt>
                <dd ng-show="isImage(item)">{{variation.width}} &times; {{variation.height}}</dd>
            </dl>
        </div>
    </div>
</nav>
<main class="main col-sm-8">
    <div class="notification-bar"><h4>{{item.name}}</h4></div>

    <p ng-show="item.description && item.description !== 'undefined'">{{item.description}}</p>
    <div ng-show="isImage(item)" class="media-item-full">
        <img ng-src="{{getSrcPath(item)}}" alt="{{item.name}}">
    </div>
    <div ng-show="isText(item)" class="media-item-full">

       <form role="form" ng-submit="updateItemText(itemTextForm)" name="itemTextForm" class="form-horizontal" novalidate >
            <textarea ui-codemirror ng-model="itemText"
                      ui-codemirror-opts="editorOpts"></textarea>

            <div class="action-buttons">
                <button type="submit" class="btn btn-primary">Update</button>
                <button ng-click="cancel()" type="button" class="btn btn-default">Cancel</button>
            </div>
        </form>
    </div>
    <div ng-show="isDocument(item)" class="media-item-full">
        <iframe ng-src="{{getDocSrcPath(item)}}" width="100%" height="500"></iframe>
    </div>
</main>
<aside class="aside col-sm-2" ng-show="isImage(item)">
<!--    <div class="notification-bar"><h4>Add variation</h4></div>

    <form role="form" name="resizeForm" novalidate ng-show="isImage(item)" ng-submit="doResize(resizeForm)">

        <div class="form-group" bs-has-error="imageSize">
            <select ng-model="selectedVariation"
                    ng-options="imageVariation as imageVariation.label for imageVariation in availableVariations"
                    class="form-control">
                <option value="" disabled selected>Select an image size</option>
            </select>
        </div>
        <div class="form-group" bs-has-error="imageSize">
            <input placeholder="Width" class="form-control" ng-model="selectedVariation.width" ng-readonly="selectedVariation.label != 'custom'">&nbsp;
            <input placeholder="Height" class="form-control" ng-model="selectedVariation.height" ng-readonly="selectedVariation.label != 'custom'">
        </div>

        <div class="action-buttons">
            <button type="submit" class="btn btn-primary">Add variation</button>
        </div>
    </form>-->

</aside>