<nav class="side-nav col-sm-2">
    <div class="section-heading">
        <h3>Available media</h3>
    </div>

    <div ng-if="availableTags.length">
        <h4>Filter by tag</h4>
        <p></p>
        <ul class="nav nav-pills nav-stacked">
            <div ng-repeat="availableTag in availableTags track by $index">
                <li style="margin-bottom: 4px">
                    <button class="btn" ng-class="{'btn-primary': availableTag.on}"
                            ng-click="toggleTag(availableTag)">{{availableTag.text}}</button></li>
            </div>
        </ul>
    </div>
</nav>
<main class="main col-sm-10">

    <div class="media-items-container">
        <media-upload></media-upload>
        <media-items></media-items>
    </div>
</main>