html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ECECEC;
}

/* layout */
.main {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    padding: 28px 0;
}


button[type=submit],
input[type=submit] {
    float: right;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65px;
    overflow: hidden;
    background: #d3d3d3;
    padding: 15px 30px;
}
.footer button {
    float: right;
    cursor: pointer;
}