<main class="main col-sm-12">
    <div class="notification-bar" ng-show="err">
        <p>An error occurred performing this operation: {{$scope.err.message}}</p>
    </div>

    <div ng-show="!added">
        <h2>Select a plugin for this include</h2>

        <div class="notification-bar">
            <p ng-show="availablePlugins.length == 0">No plugins have been imported</p>
        </div>
        <div class="list-group" ng-show="availablePlugins.length > 0">
            <li ng-click="selectPlugin(plugin)" ng-repeat="plugin in availablePlugins"
                class="list-group-item" ng-class="{active: selectedPlugin == plugin}" style="cursor: pointer">
                <h4 class="list-group-item-heading">{{plugin.name}}</h4>
            </li>
        </div>

        <div class="pull-right clearfix">
            <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
            &nbsp;
            <button type="button" class="btn btn-primary" ng-click="addInclude()"
                    ng-disabled="!page || !selectedPlugin">Add include</button>
        </div>
    </div>
</main>
