<nav class="side-nav col-sm-2">
    <div class="section-heading">
        <h3>Forgotten password</h3>
    </div>
</nav>
<main class="main col-sm-6">
    <div class="notification-bar">
        <h4>Submit your username to start the reset password process</h4>
        <br>
        <p ng-if="done">
            <span ng-if="emailEnabled">An email has been sent with instructions on how to reset your password.</span>
            <span ng-if="!emailEnabled">Please contact your administrator for instructions on how to reset your password.</span>
            <br><a href="#/">Return to login.</a>
        </p>
    </div>

    <form role="form" ng-submit="submit()" class="form-horizontal" ng-if="!done" novalidate>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="username">Username</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="username" placeholder="geoffcapes" required
                       ng-model="username">
            </div>
        </div>
        <div class="action-buttons">
            <button class="btn btn-link pull-left" type=button style="margin-left: 0" ng-click="toLogin()">Return to login</button>
            <button type="submit" class="btn btn-primary" ng-disabled="!username">Submit</button>
        </div>
    </form>
</main>